{% extends 'Layout.html' %}

{% block head %}
<title>Digital Locker - About</title>
{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color:#E3B14E;">
<br/><br/><br/>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-2" style="background-color:#FAFAF9;box-shadow:10px 10px 10px black;border-top:5px solid #3D3B37;border-left:5px solid #3D3B37;">
<img src="../static/About.png" width="100%"/>
</div>
<div class="col-md-1"></div>
<br/><br/>
<div class="col-md-1" style="background-color:#FAFAF9;text-align:center;font-size:140px;box-shadow:10px 10px 10px black;border-top:5px solid #3D3B37;border-left:5px solid #3D3B37;">:</div>
<div class="col-md-1"></div>
<br/><br/>
<div class="col-md-5" style="background-color:#FAFAF9;font-size:20px;color:#529BCA;padding:40px;box-shadow:10px 10px 10px black;border-top:5px solid #3D3B37;border-left:5px solid #3D3B37;">
This is an application designed for you to store your files on server to provide you access to your files from anywhere in the world. The data you store here and the documents and the files you upload are 100% safe. This is the safest place for your files.
</div>
<div class="col-md-1"></div>
<br/><br/>
</div>
<br/><br/>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10" style="background-color:#FAFAF9;font-size:20px;text-align:center;padding:40px;box-shadow:10px 10px 10px black;border-top:5px solid #3D3B37;border-left:5px solid #3D3B37;">
<h1>Features</h1>
<br/>
<div class="row">
<div class="col-md-4"><div class="alert alert-primary" role="alert">User Registration and Authentication</div></div>
<div class="col-md-4"><div class="alert alert-success" role="alert">Uploading one or more files</div></div>
<div class="col-md-4"><div class="alert alert-info" role="alert">File Storage (upto 5 MB)</div></div>
<div class="col-md-4"><div class="alert alert-success" role="alert">Getting the Details of uploaded files</div></div>
<div class="col-md-4"><div class="alert alert-info" role="alert">Renaming a file</div></div>
<div class="col-md-4"><div class="alert alert-primary" role="alert">Deleting a file &amp; move in recycle bin</div></div>
<div class="col-md-4"><div class="alert alert-info" role="alert">Permanantly deleting a file</div></div>
<div class="col-md-4"><div class="alert alert-primary" role="alert">Getting the memory status</div></div>
<div class="col-md-4"><div class="alert alert-success" role="alert">Viewing and updating profile</div></div>
</div>
</div>
<div class="col-md-1"></div>
<br/><br/>
</div>
<br/><br/>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10" style="background-color:#FAFAF9;font-size:20px;text-align:center;padding:40px;box-shadow:10px 10px 10px black;border-top:5px solid #3D3B37;border-left:5px solid #3D3B37;">
<h1>Creator of Digital Locker</h1>
<br/>
<div class="row">
<div class="col-md-3">
<img src="../static/Creator.jpg" width="100%"/>
<br/><br/><br/>
<h2><a href="/Home"><i class="fa fa-home"></i> Dashboard</a></h2>
</div>
<div class="col-md-1"></div>
<div class="col-md-4" style="text-align:left;color:#529BCA;">
<h2><u>Pavan Jain</u></h2><br/>
<h4><i class="fa fa-envelope"></i> 013pavanjain@gmail.com</h4>
<h4><i class="fa fa-envelope"></i> jpavan447@gmail.com</h4><br/>
<h4><i class="fa fa-mobile"></i> +91 8349312393</h4>
<h4><i class="fa fa-mobile"></i> +91 8319615913</h4><br/>
<h4><i class="fa fa-instagram"></i> pavanjain1311</h4>
<h4><i class="fa fa-twitter"></i> Pavanjain1996</h4><br/>
<h4><i class="fa fa-github"></i> <a href="https://github.com/Pavanjain1996?tab=repositories" target="_blank">Check Github Repositories here</a></h4>
<h4><i class="fa fa-product-hunt"></i> <a href="http://pavanportfolio.herokuapp.com" target="_blank">My Portfolio</a></h4>
</div>
<div class="col-md-1"></div>
<div class="col-md-3"style="text-align:center;color:#529BCA;">
This web application is developed and maintained by<br/>P<br/>A<br/>V<br/>A<br/>N<br/><br/>J<br/>A<br/>I<br/>N<br/>
No Copyright Issue<br/>&copy;<br/>All Rights Reserved
</div>
</div>
</div>
<div class="col-md-1"></div>
<br/><br/>
</div>
<br/><br/><br/>
</div>
{% endblock %}